In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt

In [4]:
import datetime as dt

In [5]:
crime=pd.read_csv("D:\MS\Project\PYthon\Crimes1.csv")

In [6]:
crime_slice=crime[['Date','Arrest','Domestic']]
crime_slice

                    Date  Arrest  Domestic
0        3/18/2015 19:44   False     False
1        3/18/2015 23:00    True     False
2        3/18/2015 22:45   False      True
3        3/18/2015 22:30   False     False
4        3/18/2015 21:00   False     False
5        3/18/2015 22:00   False     False
6        3/18/2015 23:00   False      True
7        3/18/2015 21:35   False      True
8        3/18/2015 22:09    True     False
9        3/18/2015 21:25   False     False
10       3/18/2015 21:30   False     False
11       3/15/2015 16:10   False      True
12       3/18/2015 21:14    True     False
13       3/18/2015 22:50   False     False
14       3/18/2015 22:31    True     False
15       3/18/2015 12:55   False     False
16       3/18/2015 20:00   False     False
17       3/18/2015 21:00   False     False
18       3/18/2015 22:56    True     False
19       3/18/2015 22:45   False     False
20       3/18/2015 22:00    True     False
21         9/1/2014 8:00    True     False
22       3/18/2015 23:55   False     False
23       3/18/2015 23:40   False     False
24       3/18/2015 21:44    True     False
25       3/18/2015 23:30    True      True
26       3/18/2015 22:45    True      True
27       3/18/2015 22:33   False     False
28        3/19/2015 1:20   False     False
29       3/18/2015 21:59   False     False
...                  ...     ...       ...
1048545  6/15/2009 18:00   False     False
1048546    5/3/2003 8:00   False     False
1048547    1/3/2002 2:29   False     False
1048548  2/14/2004 13:00   False     False
1048549   2/9/2004 19:30   False     False
1048550  2/14/2004 16:00    True     False
1048551  2/14/2004 19:45   False      True
1048552  2/14/2004 19:30    True     False
1048553   2/14/2004 4:00   False     False
1048554   2/13/2004 1:00   False     False
1048555  2/14/2004 15:00   False     False
1048556  2/14/2004 18:00   False     False
1048557  2/14/2004 21:30    True     False
1048558  2/14/2004 20:00   False     False
1048559  2/13/2004 19:00   False     False
1048560  2/13/2004 19:00   False     False
1048561  2/13/2004 19:00   False     False
1048562  2/14/2004 20:00   False     False
1048563   2/14/2004 2:30   False     False
1048564  2/14/2004 14:30    True      True
1048565   2/15/2004 0:01   False     False
1048566  2/14/2004 11:45   False     False
1048567  2/14/2004 21:45    True     False
1048568  2/13/2004 11:10    True     False
1048569  2/13/2004 22:45   False     False
1048570  2/13/2004 20:00   False     False
1048571  2/13/2004 12:15    True     False
1048572   2/14/2004 1:26   False     False
1048573    2/6/2004 9:00   False     False
1048574  2/13/2004 13:50   False     False

[1048575 rows x 3 columns]

In [7]:
crime_slice[['Arrest','Domestic']]=crime_slice[['Arrest','Domestic']].astype(int)
crime_slice

C:\Users\Bharadwaj\Anaconda3\lib\site-packages\pandas\core\frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

                    Date  Arrest  Domestic
0        3/18/2015 19:44       0         0
1        3/18/2015 23:00       1         0
2        3/18/2015 22:45       0         1
3        3/18/2015 22:30       0         0
4        3/18/2015 21:00       0         0
5        3/18/2015 22:00       0         0
6        3/18/2015 23:00       0         1
7        3/18/2015 21:35       0         1
8        3/18/2015 22:09       1         0
9        3/18/2015 21:25       0         0
10       3/18/2015 21:30       0         0
11       3/15/2015 16:10       0         1
12       3/18/2015 21:14       1         0
13       3/18/2015 22:50       0         0
14       3/18/2015 22:31       1         0
15       3/18/2015 12:55       0         0
16       3/18/2015 20:00       0         0
17       3/18/2015 21:00       0         0
18       3/18/2015 22:56       1         0
19       3/18/2015 22:45       0         0
20       3/18/2015 22:00       1         0
21         9/1/2014 8:00       1         0
22       3/18/2015 23:55       0         0
23       3/18/2015 23:40       0         0
24       3/18/2015 21:44       1         0
25       3/18/2015 23:30       1         1
26       3/18/2015 22:45       1         1
27       3/18/2015 22:33       0         0
28        3/19/2015 1:20       0         0
29       3/18/2015 21:59       0         0
...                  ...     ...       ...
1048545  6/15/2009 18:00       0         0
1048546    5/3/2003 8:00       0         0
1048547    1/3/2002 2:29       0         0
1048548  2/14/2004 13:00       0         0
1048549   2/9/2004 19:30       0         0
1048550  2/14/2004 16:00       1         0
1048551  2/14/2004 19:45       0         1
1048552  2/14/2004 19:30       1         0
1048553   2/14/2004 4:00       0         0
1048554   2/13/2004 1:00       0         0
1048555  2/14/2004 15:00       0         0
1048556  2/14/2004 18:00       0         0
1048557  2/14/2004 21:30       1         0
1048558  2/14/2004 20:00       0         0
1048559  2/13/2004 19:00       0         0
1048560  2/13/2004 19:00       0         0
1048561  2/13/2004 19:00       0         0
1048562  2/14/2004 20:00       0         0
1048563   2/14/2004 2:30       0         0
1048564  2/14/2004 14:30       1         1
1048565   2/15/2004 0:01       0         0
1048566  2/14/2004 11:45       0         0
1048567  2/14/2004 21:45       1         0
1048568  2/13/2004 11:10       1         0
1048569  2/13/2004 22:45       0         0
1048570  2/13/2004 20:00       0         0
1048571  2/13/2004 12:15       1         0
1048572   2/14/2004 1:26       0         0
1048573    2/6/2004 9:00       0         0
1048574  2/13/2004 13:50       0         0

[1048575 rows x 3 columns]

In [8]:
crime_slice=crime_slice[0:100000]

In [9]:
crime_slice['Date'] = pd.to_datetime(crime_slice['Date'], errors='coerce')

C:\Users\Bharadwaj\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
crime_slice['Date'] = pd.to_datetime(crime_slice['Date'], format = '%d/%m/%Y %H:%M:%S')

C:\Users\Bharadwaj\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
crime_slice

                     Date  Arrest  Domestic
0     2015-03-18 19:44:00       0         0
1     2015-03-18 23:00:00       1         0
2     2015-03-18 22:45:00       0         1
3     2015-03-18 22:30:00       0         0
4     2015-03-18 21:00:00       0         0
5     2015-03-18 22:00:00       0         0
6     2015-03-18 23:00:00       0         1
7     2015-03-18 21:35:00       0         1
8     2015-03-18 22:09:00       1         0
9     2015-03-18 21:25:00       0         0
10    2015-03-18 21:30:00       0         0
11    2015-03-15 16:10:00       0         1
12    2015-03-18 21:14:00       1         0
13    2015-03-18 22:50:00       0         0
14    2015-03-18 22:31:00       1         0
15    2015-03-18 12:55:00       0         0
16    2015-03-18 20:00:00       0         0
17    2015-03-18 21:00:00       0         0
18    2015-03-18 22:56:00       1         0
19    2015-03-18 22:45:00       0         0
20    2015-03-18 22:00:00       1         0
21    2014-09-01 08:00:00       1         0
22    2015-03-18 23:55:00       0         0
23    2015-03-18 23:40:00       0         0
24    2015-03-18 21:44:00       1         0
25    2015-03-18 23:30:00       1         1
26    2015-03-18 22:45:00       1         1
27    2015-03-18 22:33:00       0         0
28    2015-03-19 01:20:00       0         0
29    2015-03-18 21:59:00       0         0
...                   ...     ...       ...
99970 2015-08-10 11:35:00       0         1
99971 2015-08-10 11:30:00       0         0
99972 2015-08-10 11:35:00       0         0
99973 2015-08-10 02:45:00       0         0
99974 2015-08-10 09:30:00       0         1
99975 2015-08-10 08:00:00       0         0
99976 2015-08-08 23:00:00       0         0
99977 2015-08-09 15:00:00       0         0
99978 2015-08-10 13:00:00       1         0
99979 2015-08-07 18:00:00       0         0
99980 2015-08-10 13:33:00       1         0
99981 2015-08-10 08:00:00       0         0
99982 2015-08-10 13:20:00       1         1
99983 2015-08-10 13:31:00       0         0
99984 2015-08-05 10:00:00       0         0
99985 2015-08-10 12:42:00       1         0
99986 2015-08-10 05:00:00       0         0
99987 2015-08-10 01:38:00       0         0
99988 2015-08-10 13:07:00       1         0
99989 2015-05-05 17:00:00       0         1
99990 2015-08-07 00:01:00       0         0
99991 2015-05-11 16:57:00       0         0
99992 2015-08-08 22:00:00       0         0
99993 2015-08-10 02:00:00       0         0
99994 2015-08-09 21:00:00       0         0
99995 2015-08-10 14:35:00       0         0
99996 2015-07-31 10:00:00       0         0
99997 2015-08-01 08:45:00       0         0
99998 2015-08-10 12:00:00       1         0
99999 2015-08-10 10:45:00       0         0

[100000 rows x 3 columns]

In [12]:
column_1 = crime_slice.ix[:,0]

crime_slice1=pd.DataFrame({"year": column_1.dt.year,
              "month": column_1.dt.month,
              "day": column_1.dt.day,
              "hour": column_1.dt.hour,
              "dayofyear": column_1.dt.dayofyear,
              "week": column_1.dt.week,
              "weekofyear": column_1.dt.weekofyear,
              "dayofweek": column_1.dt.dayofweek,
              "weekday": column_1.dt.weekday,
              "quarter": column_1.dt.quarter,
             })

C:\Users\Bharadwaj\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [13]:
crime_slice2=crime_slice.drop('Date',axis=1)

In [14]:
crime_ss=pd.concat([crime_slice1,crime_slice2],axis=1)

In [15]:
crime_ss.dropna(inplace=True)

In [16]:
X=crime_ss.iloc[:,[1,2,3,4,6]].values

In [17]:
y=crime_ss.iloc[:,[10,11]].values

In [18]:
import numpy as np
from sklearn.model_selection import train_test_split

In [19]:
from sklearn.metrics import classification_report,confusion_matrix

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=50)

In [21]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.multioutput import MultiOutputClassifier

In [22]:
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.preprocessing import OneHotEncoder

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
binary_encoder = OneHotEncoder(sparse=False,categories='auto')
encoded_X = binary_encoder.fit_transform(X)

In [34]:
X_train_OH, X_test_OH, y_train_OH, y_test_OH = train_test_split(encoded_X, y, test_size = 0.20, random_state = 21)

In [35]:
knn = KNeighborsClassifier(n_neighbors=150)

In [36]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=150, p=2,
           weights='uniform')

In [37]:
pred=knn.predict(X_test)

In [38]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, pred))

Accuracy: 0.6026